body{
    background-color: #e3f0ff;
    overflow: hidden;
}

.plate{
    padding: 13px;
    margin: 35px;
    border: 25px;
}

nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.logo a {
    font-weight: bolder;
    font-size: 35px;
    color: #2d2c62;
    text-decoration: none;
    font-weight:bold;
    align-content: left;
}
  
.pages {
    list-style: none;
    display:flex;
    justify-content:space-around; 
    color: #2d2c62;

}
  
.pages li {
    margin-right: 30px;
    margin-left: 50px;
    font-size: 13px;
}
  
.pages li a {
    color: #2d2c62;
    text-decoration: none;
}
  
.pages-right {
    list-style: none;
    display: flex;
    font-size: 13px;
}
  
  .pages-right li {
    margin-right: 40px;
  }
  
  .pages-right li a {
    color: 2d2c62;
    text-decoration: none;
  }
.getstart{
    background:#5654b3 ;
    padding: 15px 25px;
    color: white;
    border-radius: 10px;
   
}

img{
    flex: 1;
    width: 55%;
    float: right;
    padding-top: 40px;
    justify-content: left;
    position: fixed;
}

.inner-plate{
    display: flex;
    justify-content: right;

}

.text{
    flex: 1;
    font-size: 40px;
    padding-top: 65px;
}

.blue{
    color:#2d2c62;
}

.red{
    color: #fa676d;
}

.desc{
    font-size:medium;
    color:#a091da;
    font-weight: lighter;
}

input{
    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0;
    padding: 20px;
}

button{
    border: 0;
    background-color: #5654b3;
    color: white;
    padding: 20px 45px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

i{
    font-size: 30px;
}

html *{
    font-family:"Montserrat";
}
